input {
	width: 421px;
	height: 50px;
	background-color: rgba(255,255,255,0.85);
	font-size: 1.3em;
}

textarea {
	max-width: 421px;
	max-height: 256px;
	background-color: rgba(255,255,255,0.85);
	font-size: 1.3em;
	margin-top: 10px;
}

::-webkit-input-placeholder {
   font-size: 1.1em;
}

:-moz-placeholder { /* Firefox 18- */
     font-size: 1.1em;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 1.1em;
}

:-ms-input-placeholder {  
   font-size: 1.1em;  
}