html { 
  background: url(/images/trees_lake.jpg) no-repeat center center fixed; 
  background-color: rgba(255,255,255,0.7);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
	background-color:rgba(44,53,57,0);
	overflow-x: hidden; 
	overflow-y: scroll;

}

input {
	width: 378px;
	height: 50px;
	background-color: rgba(255,255,255,0.85);
	font-size: 1.3em;
	border-width: 0px;
	padding-left: 7px;
}

@media screen and (device-aspect-ratio: 40/71) {
	#loginForm {
		width:610px;
		margin: 0 auto;
	}

	input {
		width: 600px;
		height: 100px;
		background-color: rgba(255,255,255,0.85);
		font-size: 2.1em;
		border-width: 0px;
		padding-left: 7px;
	}

	::-webkit-input-placeholder {
   		font-size: 2.1em;
	}

	:-moz-placeholder { /* Firefox 18- */
     font-size: 2.1em;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 2.1em;
}

:-ms-input-placeholder {  
   font-size: 2.1em;  
}
}

#loginForm > .alert {
	width: 378px;
}

input:focus {
	
	border-left-width: 7px;
	border-color: #428bca;
	padding-left: 0px;
}

::-webkit-input-placeholder {
   font-size: 1.1em;
}

:-moz-placeholder { /* Firefox 18- */
     font-size: 1.1em;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 1.1em;
}

:-ms-input-placeholder {  
   font-size: 1.1em;  
}

.login_container {
	margin-top: 300px;
	background-color: rgba(255,255,255, 0);
}

.register_container {
	margin-top: 220px;
	background-color: rgba(255,255,255, 0);
}

.btn {
	border-radius: 0px;
	text-align: left;
	font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

#loginForm {
	width:400px;
	margin: 0 auto;
}